html {
                font-size: 18px;
            }
            body {
                background-color:rgb(113, 77, 101);
                color:whitesmoke;
            }
            a {
                color: aliceblue;
            }
            a:visited {
                color:lightgray;
            }
            a:hover active {
                color: #eee;
            }