html, body {
    background-color: #bc82b0;
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
}
h1 {
    color: #000;
    font-size: 60px;
    margin: 40px 0 20px;
    text-align: center;
}
.profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(247,180,200,0.7),
                0 0 40px rgba(0,0,0,0.2);
    border: 6px solid #ffffff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
p {
    font-size: 22px;
    color: #1d1d1d;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-family: "anton", sans-serif;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-top: 20px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icon-link {
    color: #000;
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.2);
    color: #000;
}

footer {
    text-align: center;
    padding: 20px;
    color: #000;
    margin-top: 40px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    .social-icons a img {
        width: 50px;
        height: 50px;
    }
}

