html body {
                background-color: #bc82b0;
                padding: 0;
                margin: 0;
                font-family: "inter", sans-serif ;
            }
h1 {
    color: #000;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    margin: 40px 0 20px;
}

.profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 22px auto;
    box-shadow:0 0 20px rgba(247,180,200,0.7),
                0 0 40px rgba(0,0,0,0.2);
    border: 6px solid #ffffff;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

p{
    color:#000;
    font-size: 70px;
    margin: 8px 0;
    letter-spacing: 2px;
    font-family: "anton", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

p{ 
    font-size: 22px;
    color: #1d1d1d;
    margin-top: 10px;
    text-align: center;
} 

h2 {
    text-align: center;
    color: #000;
    font-size: 30px;
    margin-top: 20px;
}
 
.social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-icons a img {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    filter: hue-rotate(270deg) saturate(1.5) brightness(1.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.social-icons a img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(200, 160, 255, 0.6);
    filter: hue-rotate(270deg) saturate(1.5) brightness(1.4);
}
